.App {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.App-header {
  background-color: silver;
  height: 85px;
  padding: 20px;
  color: rgb(30, 13, 58);
}

.App-title {
  margin: 15px;
}

.App-intro {
  font-size: large;
}

body {
  background-image: url('/images/film.jpg');
}