/* This is the App stylesheet for the Week 12 assignment for Prime Digital Academy, created by 
Adam Boerhave, 11/5/2020 - 11/8/2020 */

/* center the content and set font size for entire app */
.App {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* color and size for header */
.App-header {
  background-color: silver;
  height: 85px;
  padding: 20px;
  color: rgb(30, 13, 58);
}

/* spacing for header text */
.App-title {
  margin: 15px;
}

.App-intro {
  font-size: large;
}

/* makes the background image film for all the pages */
body {
  background-image: url('/images/film.jpg');
}