.card {
    display: inline-block;
    width: 250px;
    height: 400px;
    /* background-color: silver; */
    border: 1px solid silver;
    /* margin: auto; */
    /* position: relative; */
    vertical-align: top;
    margin: 20px;
}


.picButton {
    width: 185px;
    height: 280px;
    /* background-color: white; */
    position: relative;
    /* border: 1px solid white; */
    /* background: transparent; */
    /* visibility: hidden; */
    background-size: cover;
    background-position: center;

}