/* This is the Home stylesheet for the Week 12 assignment for Prime Digital Academy, created by 
Adam Boerhave, 11/5/2020 - 11/8/2020 */

/* style for card with image and title */
.card {
    display: inline-block;
    width: 250px;
    height: 400px;
    background-color: silver;
    border: 4px solid gold;
    vertical-align: top;
    margin: 20px;
}

/* style for image picture button */
/* image is inserted in the loop in Home.js */
.picButton {
    width: 185px;
    height: 280px;
    background-size: cover;
    background-position: center;
    transition-duration: .5s;
}

/* putting mouse over image changes opacity */
.picButton:hover {
    opacity: 0.5;
}

/* text style for text at top of home page */
.topText {
    display: inline-block;
    background-color: gold;
    color: rgb(30, 13, 58);
    padding: 8px;
}