/* This is the Header stylesheet for the Week 12 assignment for Prime Digital Academy, created by 
Adam Boerhave, 11/5/2020 - 11/8/2020 */

/* style and spacing for links */
.navLink {
    list-style: none;
    text-decoration: none;
    float: left;
    width: 90px;
}