body {
    color:  rgb(30, 13, 58);
}

.inputDiv {
    margin: 30px;
    background-color: gold;
    display: inline-block;
    padding: 10px;
    /* margin: auto; */
}
label {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    color: rgb(30, 13, 58);
}   

.addMovieButton {
    font-size: 16px;
    padding: 5px;
    background-color: silver;
    margin: 10px 5px 5px 5px;
    transition-duration: .5s;
}

.addMovieButton:hover {
    background-color: gray;
    color: white;
}

select {
    padding: 3px;
    font-size: 16px;
}

.titleText {
    font-size: 28px;
    margin-bottom: 0;
    color: rgb(30, 13, 58);
}

.reqText {
    margin-top: 0;
    color: rgb(30, 13, 58);
}

.addMovieInput {
    width: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
textarea {
    width: 300px;
    height: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}